/*------------------------------------------------------------------*\
 	Style.less
   ------------------------------------------------------------------
 
 	Main stylesheet for blog
 	
 	vA.0.0
 	
 	author:		jjgrainger
 	website:	http://www.joegrainger.co.uk
 	edited:		1/08/2012
 
\*------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Containers */
.container,
.row {
  max-width: 960px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/* Shared Styles */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  margin: 0 1.0416666666666665% 20px;
}
/* Columns */
.col-1 {
  width: 6.25%;
}
.col-2 {
  width: 14.583333333333334%;
}
.col-3 {
  width: 22.916666666666664%;
}
.col-4 {
  width: 31.25%;
}
.col-5 {
  width: 39.58333333333333%;
}
.col-6 {
  width: 47.91666666666667%;
}
.col-7 {
  width: 56.25%;
}
.col-8 {
  width: 64.58333333333334%;
}
.col-9 {
  width: 72.91666666666666%;
}
.col-10 {
  width: 81.25%;
}
.col-11 {
  width: 89.58333333333334%;
}
.col-12 {
  width: 97.91666666666666%;
}
/* Push Options */
.push-1 {
  margin-left: 9.375%;
}
.push-2 {
  margin-left: 17.708333333333336%;
}
.push-3 {
  margin-left: 26.041666666666668%;
}
.push-4 {
  margin-left: 34.375%;
}
.push-5 {
  margin-left: 42.70833333333333%;
}
.push-6 {
  margin-left: 51.041666666666664%;
}
.push-7 {
  margin-left: 59.375%;
}
.push-8 {
  margin-left: 67.70833333333334%;
}
.push-9 {
  margin-left: 76.04166666666666%;
}
.push-10 {
  margin-left: 84.375%;
}
.push-11 {
  margin-left: 92.70833333333334%;
}
.push-12 {
  margin-left: 101.04166666666667%;
}
/*
Cleafix
Micro Clearfix by Nicolas Gallagher
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.cf {
  overflow: visible;
}
.cf:before,
.cf:after {
  content: " ";
  display: block;
}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  overflow: visible;
  *zoom: 1;
}
/*--- LESS Variables ---*/
html,
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.675;
  word-spacing: 0.175em;
  color: #444;
  padding: 1em 0 0;
  -webkit-text-size-adjust: 100%;
}
body {
  overflow-y: scroll;
}
.body {
  width: 85%;
  max-width: 38em;
  margin: 0 auto;
}
header {
  margin-bottom: 4em;
}
footer {
  text-align: center;
  margin-top: 4em;
  padding: 2em 0;
}
header,
footer {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
footer,
header,
article,
section,
aside {
  clear: both;
}
article,
#disqus_thread {
  margin-bottom: 2em;
}
header a,
footer a {
  text-decoration: none;
}
p,
pre,
ul,
ol {
  margin-bottom: 1.35em;
}
h1,
.alpha {
  font-size: 2em;
}
h2,
.beta {
  font-size: 1.75em;
}
h3,
.gamma {
  font-size: 1.5em;
}
h4,
.delta {
  font-size: 1.166em;
}
h5,
.epsilon {
  font-size: 1em;
}
h6,
.zeta {
  font-size: 0.875em;
}
h5,
h6 {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #454545;
  line-height: 1.25em;
  margin-bottom: 1em;
}
a {
  color: #2c3e50;
  text-decoration: underline;
}
a:hover {
  color: #2c9add;
  cursor: pointer;
}
abbr,
acronym {
  border-bottom: 1px dotted #878683;
  cursor: help;
}
var,
kbd,
code,
pre code {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875em;
  letter-spacing: 1px;
  padding: 0.3em;
  background: #eaeaea;
  border-radius: 3px;
  overflow-x: auto;
}
pre code {
  display: block;
  padding: 1em;
  background: #333;
  color: #fff;
}
strong,
b {
  font-weight: 500;
}
em,
i {
  font-style: italic;
  font-weight: normal;
}
strike,
s {
  text-decoration: line-through;
  color: #878683;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
q {
  font-style: italic;
}
q:before {
  content: "\201C";
}
q:after {
  content: "\201D";
}
/* Navigation */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-spacing: 0;
  display: inline;
  float: right;
}
.nav li {
  display: inline;
  margin-left: 1em;
}
footer .nav {
  float: none;
  margin: 0 auto;
}
footer .nav li {
  margin: 0 .5em;
}
.aside {
  font-size: 0.875em;
  color: #878683;
}
.aside p {
  margin-bottom: 1em;
}
/*--- Post ---*/
.post-front {
  margin-bottom: 3.5em;
}
.post-title {
  font-size: 2em;
  line-height: 1.25em;
}
.post-date {
  font-size: 0.75em;
  color: #bfbfbf;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.post-excerpt {
  margin-top: -2em;
  margin-bottom: 0.5em;
  color: #878683;
}
.post-title a {
  text-decoration: none;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 4rem;
}
.post-prev,
.post-next {
  width: 45%;
}
.post-next {
  float: right;
  text-align: right;
}
/*--- Archive ---*/
.archive-post-list {
  margin: 0;
  padding: 0;
}
.archive-post-list li {
  list-style-type: none;
  margin: 0.5em 0;
}
.archive-date {
  width: 25%;
  display: inline-block;
}
/*--- Responsive ---*/
/*-----------------------------*\

	responsive.less
	Repsonsive styles compiled with LESS

\*-----------------------------*/
body {
  -webkit-text-size-adjust: none;
}
@media (max-width: 1024px) {
  .row {
    width: 960px;
  }
}
@media (max-width: 960px) {
  .dev-body:before {
    content: "max-width: 960px";
  }
  .row {
    width: 800px;
  }
}
@media (max-width: 800px), (max-width: 768px) {
  .row {
    width: 89.5%;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11 {
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665% 20px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  header,
  footer {
    font-size: 10px;
  }
}
