---
layout: default
title: Projects
---

<article class="single-page">
    <header class="page-header">
        <h1 class="page-title">Projects</h1>

        <p class="page-description">
            I make things and stuff, some are here, the rest are in <a href="https://github.com/jjgrainger">Github</a>.
        </p>
    </header>

    <div class="page-content">
        <div class="grid">
            {% for project in site.projects %}
                <div class="grid-item project-grid">
                    <a href="{{ project.url }}" class="project-grid-image" id="{{ project.image }}">
                        {% include projects/{{ project.image }}.html %}
                    </a>
                </div>
                <div class="grid-item">
                    <h4 style="margin: 0;">
                        <a href="{{ project.url }}">{{ project.title }}</a>
                    </h4>
                    <p>{{ project.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</article>

