<aside class="aside">
	<p>Hello, I'm Joe Grainger, a Web Developer living in Falmouth, Cornwall.</p>

	<p>I <a href="/archive/" title="Articles by jjgrainger">write</a>,
	<a href="http://www.twitter.com/jjgrainger" title="jjgrainger on Twitter">tweet</a> and <a href="http://www.github.com/jjgrainger/" title="jjgrainger on Github">code</a> all things web development</p>
	
	<p>You can subscribe to my blog via <a href="">RSS</a>, follow me on
	<a href="http://www.twitter.com/jjgrainger" title="jjgrainger on Twitter">Twitter</a> or
	<a href="https://plus.google.com/116065378192330753914" rel="me">Google+</a></p>

</aside>