{% if page.description %}
    {% assign description = page.description %}
{% else %}
    {% assign description = page.content | strip_html | xml_escape | normalize_whitespace | truncate: 200 %}
{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@jjgrainger">
<meta name="twitter:creator" content="@jjgrainger">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:image" content="https://secure.gravatar.com/avatar/b19bca0a2c2598b90dca610982420267?s=500">
<meta name="twitter:title" content="{{ page.title | default: site.name }}">
<meta name="twitter:description" content="{{ description | default: site.description  }}">
