footer {
    text-align: center;
    font-size: 0.875em;
    line-height: 1.724em;
    color: #888;
    padding: 3rem 0 1.5rem;
}


.social {
    text-align: center;
}

.social li {
    float: none;
    display: inline-block;
    margin: 0 .5rem;
}

.social a {
    color: $body;
    font-size: 1.25rem;
}

.social a:hover {
    border-bottom: 0;
    color: $body;
}

.social a:hover .fa-twitter { color: #55acee; }
.social a:hover .fa-github { color: #333333; }
.social a:hover .fa-rss { color: #f26522; }

