// Colours

$title: #2D2F33;
$link: #6097B3;
$body: #4B4E52;

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 1.5;
    color: $body;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

p,
pre,
ul,
ol,
dl,
address,
pre code,
blockquote p {
    margin-bottom: 1.5rem;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 3rem 0 1.5rem;
    font-weight: 600;
    color: $title;
}

h1 {
    font-size: 2.25em;
    line-height: 1.333em;
    margin-top: 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
}

h3 {
    font-size: 1.125em;
    line-height: 1.334em;
}

h4 {
    font-size: 1em;
    line-height: 1.5em;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
  font-weight: normal;
}

strike, s {
  text-decoration: line-through;
  color: #878683;
}

mark {
    background-color: #fdf6e3;
}

var,
kbd,
code,
pre code {
    font-family: "Source Code Pro", monospace;
    letter-spacing: 1px;
    font-size: 0.875em;
}

var,
kbd,
code {
    // color: $body;
    padding: .2rem;
    // background-color: #f7f7f7;
}

pre code {
    display: block;
    overflow: scroll;
    font-size: 1em;
    padding: 1.5em;
}

a,
a:link,
a:visited,
a:active {
    color: $link;
    text-decoration: none;
    transition: color ease .3s;
}

a:hover {
    text-decoration: underline;
    transition: color ease .3s;
}

ol,
ul,
blockquote p {
    padding-left: 2em;
}

li ol,
li ul,
li p {
  margin-bottom: 0;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

hr {
    display: block;
    border: 0;
    height: 0;
    margin: -1px 0 1.5rem;
    border-top: 1px solid #eee;
}

blockquote {
    display: block;
    border-left: .2em solid #eee;
}

blockquote p {
    font-size: 1.125em;
    line-height: 1.334em;
    font-style: italic;
}

.container {
    max-width: 620px;
    width: 90%;
    margin: 0 auto 3rem;
}

.center {
    text-align: center;
}

.page-header {
    text-align: center;
    margin-bottom: 3rem;
}

.page-description {
    font-size: 1.125rem;
    font-style: italic;
}

.avatar {
    margin: 0 auto 3rem;
    width: 90%;
    max-width: 200px;
    border-radius: 50%;
}

@media(max-width: 600px) {
    body {
        font-size: 16px;
    }
}

@media(max-width: 480px) {
    body {
        font-size: 14px;
    }
}
