.highlight,
pre code {
    font-size: .75rem;
    background-color: #404040;
    color: #d0d0d0;
}

// var,
// kbd,
// code {
//     color: #d0d0d0;
//     padding: .2rem;
//     background-color: #002b36;
// }

// .highlight .nc {
//     color: #d0d0d0;
// }
