/*-----------------------------*\

	responsive.less
	Repsonsive styles compiled with LESS
	
	author 		Venn Creative; Zander Grinfeld; Joe Grainger;
	version 	1.0.0

\*-----------------------------*/
body {
  -webkit-text-size-adjust: none;
}
.mobile-show,
.tablet-show {
  display: none;
}
@media (max-width: 1024px) {
  .dev-body:before {
    display: block;
    background-color: yellow;
    content: "max-width:; 1024px";
    text-align: center;
    font-size: 14px;
    padding: 5px;
  }
  .row {
    width: 960px;
  }
}
@media (max-width: 960px) {
  .dev-body:before {
    content: "max-width: 960px";
  }
  .row {
    width: 800px;
  }
  .lap-col-12 {
    width: 97.91666666666666%;
    margin: 0 1.3888888888888888% 30px;
  }
}
@media (max-width: 800px), (max-width: 768px) {
  .dev-body:before {
    content: "max-width: 800px and 768px";
  }
  .row {
    width: 600px;
  }
  .tablet-col-6 {
    width: 47.22222222222222%;
    margin: 0 1.3888888888888888% 30px;
  }
  .tablet-col-12 {
    width: 97.91666666666666%;
    margin: 0 1.3888888888888888% 30px;
  }
  .tablet-hide {
    display: none;
  }
  .tablet-show {
    display: block;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .dev-body:before {
    content: "max-width: 600px;";
  }
  .row {
    width: 95%;
  }
  .push-1,
  .push-2,
  .push-3,
  .push-4,
  .push-5,
  .push-6,
  .push-7,
  .push-8,
  .push-9,
  .push-10,
  .push-11 {
    margin-left: 0;
  }
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .container-8 {
    width: 97.91666666666666%;
    margin: 0 1.3888888888888888% 30px;
  }
  .tablet-col-6,
  .mobile-col-6 {
    width: 47.22222222222222%;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .dev-body:before {
    content: "max-width: 480px;";
  }
  .mobile-show {
    display: inline-block;
  }
  .tablet-col-6 {
    width: 97.91666666666666%;
  }
  .mobile-col-6 {
    width: 47.22222222222222%;
  }
  .tablet-hide {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
}
@media (max-width: 320px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11 {
    width: 97.91666666666666%;
  }
  .dev-body:before {
    content: "max-width: 320px";
  }
}
