html,
body {
    font-family: "Lora", Georgia, serif;
    font-size: 20px;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

body {
    max-width: 42em;
    padding: 3em 1em;
    margin: 0 auto;
}

p,
pre,
ul,
ol,
dl,
address,
pre code,
blockquote p {
    margin-bottom: 1.5rem;
}

img {
    display: block;
    max-width: 100%;
}

header,
main,
article {
    margin-bottom: 3rem;
}

header {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.post-nav {
    clear: both;
    overflow: hidden;
}

footer {
    text-align: center;
    font-size: 0.875em;
    line-height: 1.724em;
    font-style: italic;
    color: #888;
}

h1, h2, h3, h4, h5, h6 {
    margin: 3rem 0 1.5rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #121212;
}

h1 {
    font-size: 2.25em;
    line-height: 1.333em;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
}

h3 {
    font-size: 1.125em;
    line-height: 1.334em;
}

h4 {
    font-size: 1em;
    line-height: 1.5em;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
  font-weight: normal;
}

strike, s {
  text-decoration: line-through;
  color: #878683;
}

mark {
    background-color: #fdf6e3;
}



var,
kbd,
code,
pre code {
    font-family: "Source Code Pro", monospace;
    letter-spacing: 1px;
    font-size: 0.875em;
}

var,
kbd,
code {
    color: #93a1a1;
}

pre code {
    display: block;
    overflow: scroll;
    font-size: 1em;
    padding: 1.5em;
}

a,
a:link,
a:visited,
a:active {
    color: #3d9ddd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol,
ul,
blockquote p {
    padding-left: 2em;
}

li ol,
li ul,
li p {
  margin-bottom: 0;
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

hr {
    display: block;
    border: 0;
    height: 0;
    margin: -1px 0 1.5rem;
    border-top: 1px solid #eee;
}

blockquote {
    display: block;
    border-left: .2em solid #eee;
}

blockquote p {
    font-size: 1.125em;
    line-height: 1.334em;
    font-style: italic;
}


.post-title {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    margin-top: 0;
    text-align: center;
}

.post-meta {
    text-align: center;
}

.post-date {
    font-style: italic;
    color: #888;
}

.single-post .post-date:before,
.single-post .post-date:after {
    content: "–";
    display: inline;
}


#prev,
#next {
    width: 50%;
    float: left;
}


#next {
    float: right;
    text-align: right;
}

.post-list {
    padding: 0;
}

.post-list li {
    overflow: hidden;
    list-style-type: none;
    margin-bottom: .75em;
}

.post-list .post-date {
    width: 20%;
    float: left;
}

.post-list .post-title {
    width: 80%;
    float: right;
    text-align: left;
}

.center {
    text-align: center;
}

.menu-header {
	float: right;
}

.menu-header li {
	margin-left: 1em;
}

.nav {
	overflow: hidden;
}

.nav li {
	float: left;
	list-style-type: none;
}


@media(max-width: 600px) {
    body {
        font-size: 18px;
    }

    .post-list .post-date,
    .post-list .post-title {
        width: auto;
        display: block;
        float: none;
    }
}

@media(max-width: 480px) {
    body {
        font-size: 16px;
    }
}
