---
layout: default
---


    <article class="single-post" itemscope itemtype="http://schema.org/BlogPosting">

        <p class="post-meta">
            <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date_to_long_string }}
            </time>
        </p>

        <h1 class="post-title">{{ page.title }}</h1>


        <div class="post-content" itemprop="articleBody">

            {{ content }}

        </div>

        <div class="post-nav">
            {% if page.previous %}
                <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" class="post-nav--prev">
                   <span class="nav-title nav-title-prev"><span class="arrow">&larr;</span> {{page.previous.title}}</span>
                </a>
            {% endif %}

            {% if page.next %}
                <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" class="post-nav--next">
                    <span class="nav-title nav-title-next">{{page.next.title}} <span class="arrow">&rarr;</span></span>
                </a>
            {% endif %}
        </div>

    </article>

    <!-- {% include comments.html %} -->
